.example-spacer {
  flex: 1 1 auto;
}

.container-fluid {
  height: calc(100vh - 64px);
  width: 100%;
  padding: 24px;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.menu-itens {
  width: 250px;
}

.create-schedule {
  border-radius: 15px;
}

.group-name{
  max-width: 195px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo-container {
  width: 234px;
  height: 100%;
  cursor: pointer;
  
  img {
    width: 30px;
  }
  span {
    font-size: 24px;
    margin-left: .5em;
  }
}