$agprimary: (
    50 : #e6f3fd,
    100 : #c0e0fb,
    200 : #96ccf8,
    300 : #6bb7f5,
    400 : #4ca7f2,
    500 : #2c98f0,
    600 : #2790ee,
    700 : #2185ec,
    800 : #1b7be9,
    900 : #106ae5,
    A100 : #ffffff,
    A200 : #dfebff,
    A400 : #accbff,
    A700 : #92bcff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);